/* Titulo */

div.title {
  margin: auto;
  flex-flow: column;
  display: flex;
  padding: 40px 48px;
  justify-content: center;
  align-items: center;
}

div.title h1.pt {
  margin-top: 0px;
  font-size: 90px;
  color: #f5f5f7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-bottom: -100px;
  text-shadow: #0000002b 2px 2px 16px;
}

div.title h1.st {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #333333;
  text-decoration: underline;
  -webkit-background-clip: text;
  margin-bottom: 10px;
  margin-top: 100px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  flex-flow: column;
  display: flex;
  padding: 40px 48px;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  background: white;
  max-width: 400px;
  max-height: 600px;
  border-radius: 8px;
  box-shadow: #0000001c 0px 10px 39px 0px;
}

/* Tablero */

pre {
  font-size: 30px;
  color: #b3b3b3;
  letter-spacing: 10px;
}

/* Botones */

form input.insert {
  width: 300px;
  text-align-last: center;
  padding: 6px 15px 6px 15px;
  border-radius: 8px;
  letter-spacing: 1px;
  background-color: rgb(173 217 255);
  border: 2px solid #9ed2ff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  transition: 1s;
}

form .reload {
  width: 300px;
  text-align-last: center;
  padding: 6px 15px 6px 15px;
  border-radius: 8px;
  letter-spacing: 1px;
  background-color: rgb(255 209 209);
  border: 2px solid #ffbaba;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  transition: 1s;
  color: #ff2f2f;
}

form .reload:hover {
  background-color: rgb(255 108 108);
  border: 2px solid #ff6161;
  font-weight: 100;
  transition: all 1s;
  color: #ffe6e6;
}

form {
  text-align-last: center;
}

form input.insert:hover {
  background-color: rgb(231 231 231);
  border: 2px solid #d9d9d9;
  font-weight: 100;
  transition: all 1s;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #296aa3;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1; /* Firefox */
  }

form input.insert::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(143, 143, 143);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

form input.diss{
  cursor:not-allowed; 
  opacity:0.3;
  width: 300px;
  text-align-last: center;
  padding: 6px 15px 6px 15px;
  border-radius: 8px;
  letter-spacing: 1px;
  background-color: rgb(189, 189, 189);
  border: 2px solid #b6b6b6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  transition: 1s;
}

form input.diss::placeholder{
  color: rgb(71, 71, 71);
}

/* Alert */
.swal2-icon.swal2-info.swal2-icon-show {
  background: #fff;
  backdrop-filter: blur(8px);
  color: black;
  border-color: black;
}

.swal2-icon.swal2-info.swal2-icon-show {
  background: #fff;
  backdrop-filter: blur(8px);
  color: #add9ff;
  border-color: #add9ff;
}

.swal2-icon.swal2-info {
  border-color: #add9ff;
  color: #add9ff;
}

button.swal2-confirm.swal2-styled {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #add9ff;
  color: #fff;
  width: 200px;
  font-size: 1em;
}

.swal2-container.swal2-center.swal2-backdrop-show {
  backdrop-filter: blur(8px);
}

h2#swal2-title {
  font-family: Arial;
}

div#swal2-html-container {
  font-family: Arial;
  font-size: 20px;
}

i.icon.fas.fa-info-circle {
  margin-top: 20px;
  size: 10px;
  color: #76bfff;
  transition: 0.5s;
  font-size: 20px;
}

i.icon.fas.fa-info-circle:hover {
  color: #ff2f2f;
  transition: 0.5s;
  font-size: 20px;
}

/* Background */

html body {
  background-color: #add9ff;
}
