/* Titulo */

div.title {
  margin: auto;
  flex-flow: column;
  display: flex;
  padding: 40px 48px;
  justify-content: center;
  align-items: center;
}

div.title h1.pt{
  margin-top: -10px;
  font-size: 50px;
  color: #f5f5f7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-bottom: -100px;
}

div.title h1.st{
  font-size: 120px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background: radial-gradient(#eff1ff, #000);
  background-size: 100% 200%;
  background-position: 50% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -10px;
}

div.title div.authors span.authors{
  color: rgb(63, 63, 63);
  font-family: Arial, Helvetica, sans-serif;
}

div.title div.authors span.authors font{
  color: #404eb3;
  text-decoration-line: underline;
}

.container {
  margin-left: auto;
  margin-right: auto;
  flex-flow: column;
  display: flex;
  padding: 40px 48px;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  background: white;
  max-width: 400px;
  max-height: 600px;
  border-radius: 8px;
}

/* Tablero */

pre {
  font-size: 30px;
  color: #b3b3b3;
  letter-spacing: 10px;
}

/* Botones */

form input.insert {
  width: 180px;
  text-align-last: center;
  padding: 6px 15px 6px 15px;
  border-radius: 8px;
  letter-spacing: 1px;
  background-color: rgb(221 221 221);
  border: 2px solid #d5d5d5;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  transition: 1s;
  color: rgb(143, 143, 143);
}

form input.insert:hover {
  width: 200px;
  background-color: rgb(50 50 50);
  border: 2px solid #2c2c2c;
  font-weight: 100;
  transition: all 1s;
  color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(143, 143, 143);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  opacity: 1; /* Firefox */
  }

::placeholder:hover { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(143, 143, 143, 0);
  cursor: url(../img/cursoradd.png);
  }

form input.insert::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(143, 143, 143);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

form input.insert::-ms-input-placeholder:hover { /* Microsoft Edge */
  color: rgba(143, 143, 143, 0);
  cursor: url(../img/cursoradd.png);
}


/* Background */

html body {
  background-color: #0a0a0a;
}
